
#site-header {box-shadow: 0px 5px 5px #85A2A6;
    -webkit-box-shadow: 0px 5px 5px #85A2A6;
    -moz-box-shadow: 0px 5px 5px #85A2A6;
    position: relative;
    z-index: 999999;
    background-color: #F4F4F4;}

.header-text{
    color: #85A2A6 !important; 
    font-family: 'Tajawal', sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin-right: 15px;
}

