#home-page {
    background-image: url("../images/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.labelContent{
    padding-top:6em;
    padding-left:2em;
    display:flex;
    font-size: 2em;
    font-family: 'Tajawal', sans-serif;
    color: #E4F0EA !important;
    text-decoration: none;
    justify-content: flex-start;
    
}

.name{
    font-family: 'Tajawal', sans-serif;
    padding-left:0.7em;
    font-size: 5em;
    color: #E4F0EA !important;
    text-decoration: none;
}
