#reviews{
    background-color: rgb(155, 219, 200);
}
.date{
    font-family: 'Tajawal', sans-serif;
    text-align: center;
    color: #005475;
  }

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}