
:root {
  --header-size: 10vh;
}

@font-face {
  font-family: 'Merriweather', serif;
  src: local('Merriweather'), url(./fonts/Merriweather-Light.ttf) format('truetype');
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.page {
  width: 100vw;
  height: 100vh;
}

.upper {
  text-transform: uppercase;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.tablemargin {
  margin-left: 100px,
}

button {
  cursor: pointer;
}